body {
	background-color: #f3f3f3;
	color: #92979a;
}

.content {
	max-width: 1400px;
	margin: auto;
	text-align: center;
	height: auto;
}
.wrapper {
	background-image: url(headphones.png);
	background-position: center top;
	background-repeat: no-repeat;
}
.sidebar {
  background-color: rgb(202, 192, 180);
  position: absolute;
  left: -1px;
  top: 0px;
  width: 8%;
  height: 100%;
}

header {
	float:right;
	width: 92%;
}

.menu-elipse {
	float: right;
}

.menu-icon {
	float: right;
}

ul {
	float:left;
	list-style: none;	
}

ul>li {
	display: inline;
}

footer {
	float: right;
}

h1 {
	color: #e44e57;
	font-size: 60px;
}
.break {
	height: 780px;
	width: 837px;
}
button {
	background-color: #e44e57;
	height: 62px;
	width: 264px;
	border: 1px;
	border-radius: 40px;
}
