html {
	background: white;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}
li {
    list-style-type: none;
 }
.header {
	background-image: url(bg3.png), url(bg.png);
	background-repeat: no-repeat, no-repeat;
	background-position: bottom, top;
	background-size: 100%, 100%;
	min-height: 923px;
    max-height: 923px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: column;
}
.header-logo-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.logo {
	display: flex;
	margin: 20px 142px 0 25px;
	padding: 0;
	width: 73px;
	height: 73px;

}
.nav {
     display: flex;
     margin-right: 400px;
}
.nav>ul>li>img {
    height:4px;
    width: 5px;
    margin: 8px 0 0 10px;
}
.nav>ul>li {
     display: inline-flex;
     margin: 33px 0px 0px 50px;
     color: white;
}
.header-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	color: white;
	margin: 100px 0px 0px 330px;
	max-width: 500px;
	width: 390px;
	padding: 0;
}
.header-text>h1 {
	font-family: 'lato', sans-serif;
	font-weight: 300;
	font-size: 52px;
	color: #ffffff;
	margin-bottom: 8px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
.header-text>h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #ffffff;
	line-height: 31px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
.main {
	min-height: 435px;
	display: flex;
	flex-grow: 1;
    display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-top: 20px;
}
blockquote {
	font-family: 'lato', sans-serif;
	font-weight: 300;
	color: #fe992a;
	font-size: 20px;
	display: flex;
	max-width: 300px;
	margin-left: 320px;
}
.content {
	font-family: 'lato', sans-serif;
	font-weight: 300;
	line-height: 31px;
	display:flex;
	flex-direction: column;
	max-width: 500px;
	margin-left: 30px;
	margin-top: 20px;
}
.content>h1 {
	color: #fe992a;
}
.footer {
	background: #e77673;
	min-height: 600px;
	width: 100%;
	color: #eee;
	margin: auto;
    font-size: 14px;
    font-family: "DroidSans";
    line-height: 23px;

}

.footer-wrapper {
	margin: 30px 200px 0 280px;
    display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 0;
}

.footer-wrapper>ul {
    margin-right: 30px;
}

.footer-wrapper>ul>li:nth-child(1) {
	font-weight: bold;
}

.contacts {
	margin-right: 170px;
	font-size: 13px;
    font-family: "Myriad Pro";
    line-height: 2;
}