html {
	background: white;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}
li {
    list-style-type: none;
 }
.header {
	background-image: url(bg.png);
	background-size: 100%;
	min-height: 941px;
	max-height: 941px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.header-logo-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.logo {
	display: flex;
	margin: 20px 257px 0 20px;
	padding: 0;
	width: 73px;
	height: 73px;

}
.nav {
     display: flex;
}
.nav>ul>li {
     display: inline-flex;
     margin: 30px;
     color: white;
}
.header-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	color: white;
	margin-left: 400px;
	font-size: 30px;
	max-width: 500px;
}
.header-text>h1 {
	font-weight: normal;
	font-size: 60px;
	margin-bottom: 40px;
}
.main {
	width: 100%;
	min-height: 600px;
	margin: auto;
	display: flex;
	flex-grow: 1;
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	padding: 100px;
}
blockquote {
	color: #fe992a;
	font-size: 30px;
	display: flex;
	max-width: 400px;
}
.content {
	display:flex;
	flex-direction: column;
	max-width: 400px;
}
.content>h1 {
	color: #fe992a;
}
.footer {
	background: #e77673;
	min-height: 600px;
	width: 100%;
	color: #eee;
	margin: auto;
	font-size: 15px;
	line-height: 30px;

}

.footer-wrapper {
	margin: 40px 250px 0 250px;
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.footer-wrapper>ul>li:nth-child(1) {
	font-weight: bold;
}

.contacts {
	margin-right: 150px;
}
